{% if section.settings.enable and section.blocks.size > 0 %}

  {% if section.settings.custom_class and section.settings.custom_class != blank %}
    {% assign custom_class = section.settings.custom_class %}
  {% else %}
    {% assign custom_class = "fc_def_class" %}
  {% endif %}

  <div class="fc-fb-slideshow-wrapper {{ custom_class }}">

    <div class="fc-slideshow" data-height="{{ section.settings.height }}" data-width="{{ section.settings.width }}" data-mob-min-height="{{ section.settings.mob_min_height }}">

      <div id="fc-slide-0" class="fc-slide active"></div>

      {% for block in section.blocks %}
      
        {% if forloop.index == 1 %}
        	{% assign active = "active" %}
        {% else %}
        	{% assign active = "" %}
        {% endif %}
      
        <div id="fc-slide-{{ forloop.index }}" data-slide="{{ forloop.index }}" class="fc-slide {{ active }}">

        {% assign has_content = true %}
        {% if
          block.settings.title == blank and
          block.settings.subtitle == blank and
          block.settings.cta == blank and
          block.settings.custom_html == blank and
          block.settings.button == blank %}
          {% assign has_content = false %}
        {% endif %}
        
          <div 
            class="fc-slide-text-img-outer">
          <div 
            class="fc-slide-text-img-container">

            {% if has_content %}
              <div class="fc-slide-text  {{ block.settings.alignment }} {{ block.settings.text_style }}">
                <div class="fc-slide-text-inner ta-{{ block.settings.text_alignment }}">
                  {% if block.settings.title != blank %}
                    <h3 class="module-title">{{ block.settings.title }}</h3>
                  {% endif %}

                  {% if block.settings.subtitle != blank %}
                    <h3>{{ block.settings.subtitle | escape }}</h3>
                  {% endif %}
                  
                  {% if block.settings.custom_html != blank %}
                    {{ block.settings.custom_html }}
                  {% endif %}

                  {% if block.settings.cta != blank and block.settings.url != blank %}
                    <a class="button {{ block.settings.btn_class}}" href="{{ block.settings.url }}">
                      <span>{{ block.settings.cta | escape }}</span>
                    </a>
                  {% endif %}

                  {% if block.settings.cta2 != blank and block.settings.url2 != blank %}
                    <a class="button inverse fc-right-button {{ block.settings.btn_class2}}" href="{{ block.settings.url2 }}">
                      <span>{{ block.settings.cta2 | escape }}</span>
                    </a>
                  {% endif %}
                </div>
              </div>
            {% endif %}                
                
          </div>
          </div>
            
      	</div>
      {% endfor %}
      
      {% if section.blocks.size > 1 %}
      <a class="fc-nav fc-lla" href="javascript:fc_slideshow_change('{{ custom_class }}', -1);"></a>
      <a class="fc-nav fc-lra" href="javascript:fc_slideshow_change('{{ custom_class }}', 1);"></a>
	  {% endif %}      
    </div>
  </div>
 
	<script>
      var w = $(window).width();
            
      // set general container
      var s = $(".{{ custom_class }} .fc-slideshow");
      $("body").append("<style>.{{ custom_class }} .fc-slideshow { padding-top: " +
        s.attr("data-height") / s.attr("data-width") * 100 +"%; } " +  
      	// set dummy blurred image of slide 0
        ".{{ custom_class }} .fc-slideshow .fc-slide#fc-slide-0 {"+
        "background-image: url({{ section.blocks[0].settings.image | img_url }});" +
        "background-color: {{ section.blocks[0].settings.bg_color }};" +
        "background-size: cover;" +
        "filter: blur(20px);}" +       
        "@media screen and (max-width:768px) { .{{ custom_class }} .fc-slideshow { min-height: " +
        s.attr("data-mob-min-height") + "px; }" +
        " .{{ custom_class }} .fc-slideshow .fc-slide#fc-slide-0 {" +
    	"background-image: url({{ section.blocks[0].settings.mobile_image | img_url }});"  +
        " background-size: contain; background-position: bottom; background-repeat: no-repeat;}}</style>");
      
      var src = fc_get_img_url('{{ section.blocks[0].settings.image | img_url: ''}}', w);
      if ($(window).width() <= 768) { 
        src = fc_get_img_url('{{ section.blocks[0].settings.mobile_image | img_url: ''}}', w);
      }
       $('<img/>').attr('src', src).on('load', function() {
          $("body").append("<style> @media screen and (min-width: 768px) {" +
          ".{{ custom_class }} #fc-slide-1 { background-image: url(" +
          fc_get_img_url('{{ section.blocks[0].settings.image | img_url: ''}}', w) +
          "); } } @media screen and (max-width: 768px) {" +
          ".{{ custom_class }} #fc-slide-1 { background-image: url(" +
          fc_get_img_url('{{ section.blocks[0].settings.mobile_image | img_url: ''}}', w) +
          ");" +
      "background-color: {{  section.blocks[0].settings.bg_color }};" +
      " background-size: contain; background-position: bottom; background-repeat: no-repeat;} " +
            "} </style>"); 
          $(this).remove();
          s.find("#fc-slide-0").remove();
        });   
                                                                                                                                                                
      // set each slide
      $(window).on('load', function() {
          $("body").append("<style> @media screen and (min-width: 768px) {" +
                           {% for block in section.blocks %}
                           ".{{ custom_class }} #fc-slide-{{forloop.index}} { background-image: url(" +
          fc_get_img_url('{{ block.settings.image | img_url: ''}}', w) +
          "); } " +
          {% endfor %}
          "} @media screen and (max-width: 768px) {" +
            {% for block in section.blocks %}
            ".{{ custom_class }} #fc-slide-{{forloop.index}} { background-image: url(" +
          fc_get_img_url('{{ block.settings.mobile_image | img_url: ''}}', w) +
          ");" +
      "background-color: {{  block.settings.bg_color }};" +
      " background-size: contain; background-position: bottom; background-repeat: no-repeat;} " +
            {% endfor %}
            "} </style>");
        $(".{{ custom_class }} .fc-nav").css("opacity", 1);
      });
    </script>

	<style>
      .{{ custom_class }}.fc-fb-slideshow-wrapper {
      	min-height: 0 !important;
      }
      @media screen and (max-width: 768px) {
        .{{ custom_class }} .fc-slideshow .fc-slide-text.left {
        	padding:40px 16px;
        }
        .{{ custom_class }} .fc-slide-text-inner.ta-left h2 {
          text-align: left;
                    	font-size: 13px;
        }
        .{{ custom_class }} .fc-slide-text-inner.ta-left a.button {
          display: none;
        }
      }
	</style>

{% endif %}

{% schema %}
{
  "name": "Responsive Slideshow",
  "max_blocks": 6,
  "settings": [
    {
      "type": "checkbox",
      "id": "enable",
      "label": "Enable",
      "default": true
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    },
    {
      "type": "text",
      "id": "height",
      "label": "Height",
	  "info": "Change this if imgs differ from 1980x820",
	  "default": "820"
    },
    {
      "type": "text",
      "id": "width",
      "label": "Width",
	  "info": "Change this if imgs differ from 1980x820",
	  "default": "1980"
    },
    {
      "type": "text",
      "id": "mob_min_height",
      "label": "Mob Min Height",
	  "info": "The min height to show all the text in each slide",
	  "default": "560"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "full-width",
          "label": "Full width"
        },
        {
          "value": "full-window",
          "label": "Full window"
        }
      ],
      "default": "full-width",
      "info": "[Style examples](https:\/\/www.pixelunion.net\/wp-content\/uploads\/2015\/11\/slideshowLayouts.png)"
    },
    {
      "type": "select",
      "id": "transition",
      "label": "Transition",
      "options": [
        {
          "value": "transition-slide",
          "label": "Slide"
        },
        {
          "value": "transition-fade",
          "label": "Fade"
        }
      ],
      "default": "transition-fade"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Auto rotate between slides",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "select",
          "id": "alignment",
          "label": "Block alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment in block",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "text_style",
          "label": "Text style",
          "options": [
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "dark",
              "label": "Dark"
            }
          ],
          "default": "light"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background Color"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image"
        },
        {
          "type": "select",
          "id": "overlay_style",
          "label": "Overlay",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "gradient",
              "label": "Gradient"
            },
            {
              "value": "primary",
              "label": "Primary color"
            },
            {
              "value": "secondary",
              "label": "Secondary color"
            },
            {
              "value": "black",
              "label": "Black"
            }
          ],
          "default": "gradient"
        },
        {
          "type": "select",
          "id": "overlay_opacity",
          "label": "Overlay opacity",
          "options": [
            {
              "value": "1",
              "label": "10%"
            },
            {
              "value": "2",
              "label": "20%"
            },
            {
              "value": "3",
              "label": "30%"
            },
            {
              "value": "4",
              "label": "40%"
            },
            {
              "value": "5",
              "label": "50%"
            },
            {
              "value": "6",
              "label": "60%"
            },
            {
              "value": "7",
              "label": "70%"
            },
            {
              "value": "8",
              "label": "80%"
            },
            {
              "value": "9",
              "label": "90%"
            }
          ],
          "default": "7"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Slideshow"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subheading",
          "default": "Introduce customers to your shop with lifestyle imagery and product photography."
        },
        {
          "type": "text",
          "id": "custom_html",
          "label": "Html",
		  "default": "<div>custom html</div>"
        },
        {
          "type": "text",
          "id": "cta",
          "label": "Button text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        },
		{
          "type": "text",
          "id": "btn_class",
          "label": "Button Class"
        },
        {
          "type": "text",
          "id": "cta2",
          "label": "Button text 2"
        },
        {
          "type": "url",
          "id": "url2",
          "label": "Link 2"
        },
		{
          "type": "text",
          "id": "btn_class2",
          "label": "Button Class 2"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "slide",
        "settings": {
          "title": "Slideshow",
          "subtitle": "Introduce customers to your shop with lifestyle imagery and product photography."
        }
      },
      {
        "type": "slide",
        "settings": {
          "title": "Slideshow",
          "subtitle": "Introduce customers to your shop with lifestyle imagery and product photography."
        }
      }
    ]
  }
}

{% endschema %}