{% if section.settings.enable and section.blocks.size > 0 %}
  
  {% if section.settings.custom_class %}
    {% assign custom_class = section.settings.custom_class %}
  {% else %}
    {% assign custom_class = 'fc_def_class' %}
  {% endif %}
  

	<style>
      .{{ custom_class }} .media-aligned-right .home-left-right-text {
      	padding-left: 120px;
      }
      .{{ custom_class }} .media-aligned-right .home-left-right-media img {
      	float: right;
      }
      .{{ custom_class }} .fc-migliorato-list {
        padding: 8px 0 0 0;
      }
      .{{ custom_class }} .fc-migliorato-list > div {
        display: inline-block;
        width: 100%;
        padding: 4px 0;
      }
      .{{ custom_class }} .fc-migliorato-list .fc_m_icon {
        width: 5%;
        float: left;
        padding: 0 0 0 0;
        max-width: 120px;
      }
      .{{ custom_class }} .fc-migliorato-list .fc_m_icon img {
        width: 80%;
        max-width: 32px;
        padding-top: 4px;
      }
      .{{ custom_class }} .fc-migliorato-list .fc_m_des {
        width: 95%;
        float: left;
        padding-left: 8px;
      }
      .{{ custom_class }} .fc-color-option-selector .fc-color-option {
      	padding: 8px;
        height: 40px;
        width: 40px;
        float: left;
      }
      .{{ custom_class }} .fc-color-option-selector {
        margin-left: -8px;
        display: inline-block;
      }
      .{{ custom_class }} .fc-color-option-selector .fc-color-option .fc-color-visual {
        border-radius: 4px;
        height: 24px;
        width: 24px;
      }
      @media screen and (max-width: 768px) {
        .{{ custom_class }} .media-aligned-right .home-left-right-text,
        .{{ custom_class }} .media-aligned-left .home-left-right-text {
      		padding-left: 24px;
          	text-align: left;
      	}
        .{{ custom_class }} .fc-migliorato-list .fc_m_icon {
          width: 10%;
        }
        .{{ custom_class }} .fc-migliorato-list .fc_m_des {
          width: 90%;
        }
      }
	</style>

    <div
         data-section-id="{{ section.id }}"
         data-section-type="alternating-content"
         class="{{custom_class}}">
      {% for block in section.blocks %}
      {% capture direction %}{% cycle 'right', 'left' %}{% endcapture %}

      {%- assign feature_image = block.settings.image -%}

      {% assign has_button = false %}
      {% if block.settings.button_link != blank and block.settings.button_text != blank %}
      {% assign has_button = true %}
      {% endif %}

      <div
           class="module-wrapper style-{{ block.settings.style }} border"
           {{ block.shopify_attributes }}>
        <div class="module home-left-right-features">
          <div class="module-body">

            <div class="home-left-right-feature clearfix media-aligned-{{ direction }}">
              <div class="home-left-right-section home-left-right-text {{ alignment }}">
                {% if block.settings.title != blank %}
                <h3 class="module-title home-left-right-titles">
                  {{ block.settings.title}}
                </h3>
                {% endif %}

                {% if block.settings.text != blank %}
                <div class="module-content home-left-right-content">
                  {{ block.settings.text }}
                </div>
                {% endif %}

                {% if block.settings.html != blank %}
                <div class="module-content home-left-right-content">
                  {{ block.settings.html }}
                </div>
                {% endif %}

                {% if has_button %}
                <div class="module-cta home-left-right-cta">
                  <a class="button {{ block.settings.button_class }}" href="{{ block.settings.button_link }}">
                    {{ block.settings.button_text | escape }}
                  </a>
                </div>
                {% endif %}
              </div>
              <div class="home-left-right-section home-left-right-media">
                {% if block.type == 'image' %}
                {% if feature_image != blank %}
                {% if feature_image == 'files/products_filotag_800.jpg'%}
                <style>
                  @keyframes bouncenew {
                      0%   { top: 10%; }
                      50% { top: 15%; }
                      100% { top: 10%; }
                  }
                  .bouncenew {
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      font-size: 3vw;
                      transform: translate(-50%,-50%) rotate(16deg);
                  }
                  @media screen and (max-width: 768px) {
                    .bouncenew {
                      font-size: 5vw;
                    }
                  }
                </style>
                <div style="
                    position: absolute;
                    top:  10%;
                    right: 10%;
                    width: 15%;
                    padding-top: 15%;
                    border-radius: 50%;
                    background-color: #ff3545;
                    animation: bouncenew 2s ease-in-out infinite;
                    color: #fff;">
                    <div class="bouncenew">New!</div></div>
                {% endif %}
                <img
                     class="home-left-right-image"
                     src="{{ feature_image | img_url: '1020x700'}}"
                     alt="{{ feature_image.alt | escape }}">
                {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg home-left-right-image' }}
                {% endif %}
                {% endif %}

                {% if block.type == 'video' %}
                {% if  block.settings.video_url != blank %}
                <div
                     class="home-left-right-video {% if feature_image %}video-wrapper{% endif %}"
                     {% if feature_image %}
                     data-video-wrapper
                     style="background-image:url('{{ feature_image | img_url: '1020x700'}}');"
                     {% endif %}
                     >
                  {% if feature_image %}
                  <div class="video-wrapper-overlay" data-video-overlay>
                    <div class="video-wrapper-text-container">
                      <a class="video-wrapper-button" data-overlay-play>
                        <span class="video-wrapper-triangle"></span>
                      </a>
                    </div>
                  </div>
                  {% endif %}

                  <div class="full-width-video" data-video-wrapper>
                    {%- capture video_code -%}
                    {% if block.settings.video_url.type == "youtube" %}
                    <iframe src="//www.youtube.com/embed/{{ block.settings.video_url.id }}?rel=0&showinfo=0&vq=720" width="900" height="680" frameborder="0" allowfullscreen></iframe>
                    {% endif %}
                    {% if block.settings.video_url.type == "vimeo" %}
                    <iframe src="//player.vimeo.com/video/{{ block.settings.video_url.id }}?byline=0&portrait=0&badge=0" width="850" height="480" frameborder="0" allowfullscreen></iframe>
                    {% endif %}
                    {%- endcapture -%}

                    {{ video_code }}
                  </div>
                </div>
                {% else %}
                <div class="home-left-right-video">
                  <div class="full-width-video" data-video-wrapper>
                    {%- capture video_code %}
                    <iframe
                            src="//www.youtube.com/embed/_9VUPq3SxOc?rel=0"
                            width="850"
                            height="480"
                            frameborder="0"></iframe>
                    {%- endcapture %}

                    {{ video_code }}
                  </div>
                </div>
                {% endif %}
                {% endif %}
              </div>
            </div>

          </div>
        </div>
      </div>
      {% endfor %}
    </div>
{% endif %}

{% schema %}
{
  "name": "Products Alt content",
  "max_blocks": 3,
  "settings": [
    {
      "type": "checkbox",
      "id": "enable",
      "label": "Enable",
      "default": true
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "select",
          "id": "style",
          "label": "Background style",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "color",
              "label": "Color"
            },
            {
              "value": "gradient",
              "label": "Gradient"
            }
          ],
          "default": "default"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Alternating content"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "<p>Employ up to three alternating features with an option to use an image or video and include a call to action button.</p>"
        },
		{
          "type": "textarea",
          "id": "html",
          "label": "Custom Html",
          "default": "<p>Employ up to three alternating features with an option to use an image or video and include a call to action button.</p>"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text"
        },
        {
          "type": "text",
          "id": "button_class",
          "label": "Custom class"
        },
		{
          "type": "url",
          "id": "button_link",
          "label": "Link"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1020 x 700px .png recommended"
        }
      ]
    },
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "select",
          "id": "style",
          "label": "Background style",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "color",
              "label": "Color"
            },
            {
              "value": "gradient",
              "label": "Gradient"
            }
          ],
          "default": "default"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Alternating content"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "<p>Employ up to three alternating features with an option to use an image or video and include a call to action button.</p>"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text"
        },
		{
          "type": "text",
          "id": "button_class",
          "label": "Button Class"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "label": "Youtube or Vimeo link",
          "accept": [
            "youtube",
            "vimeo"
          ]
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Video thumbnail",
          "info": "1020 x 700px .png recommended"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Advanced content",
      "name": "Alternating content",
      "blocks": [
        {
          "type": "image",
          "settings": {
            "button_text": "This is your call to action",
            "button_link": "shopify:\/\/collections"
          }
        },
        {
          "type": "video",
          "settings": {
            "button_text": "This is your call to action",
            "button_link": "shopify:\/\/collections"
          }
        },
        {
          "type": "image",
          "settings": {
            "button_text": "This is your call to action",
            "button_link": "shopify:\/\/collections"
          }
        }
      ]
    }
  ]
}
{% endschema %}