{% if page.url == '/pages/keyfinder' or
      page.url == '/pages/key-finder-new' or
      page.url == '/pages/wallet-finder' or
      page.url == '/pages/luggage-finder'
%}
  {% assign is_use_case_page = true %}
{% endif %}

{% if is_use_case_page %}
  {% assign collection = collections['all'] %}
  {% for product_in_loop in collection.products %}
    <script>console.log('fv>> {{ product_in_loop | json }}')</script>
    {% if product_in_loop.id == 25090097163 %}
      {% assign product = product_in_loop %}
    {% endif %}
  {% endfor %}
{% endif %}

{% assign selectedVariant = product.selected_or_first_available_variant | default: product.variants.first %}
{% capture productGoalDeliveryDate %}{{ settings.product_sale_goal_estimated_delivery_date | trim | ecape }}{% endcapture %}

{% assign add_to_cart_button = 'products.product.add_to_cart' | t %}
{% if product.handle == settings.featured-product-main and settings.product-sale-goal-use %}
  {%- capture add_to_cart_button -%}
    {%- if settings.product_sale_goal_button != blank -%}
      {{ settings.product_sale_goal_button | escape }}
    {%- else -%}
      {{ "home.goal.pre_order" | t }}
    {%- endif -%}
  {%- endcapture -%}
{% endif %}

{% assign form_id = product.id %}

<div class="module-wrapper">
  <div class="module module-product">
    <div itemscope itemtype="http://schema.org/Product">
      <div class="product-details mobile">
        <div class="product-title">
          <h1 itemprop="name" class="fc-ta-l">{{ product.title }}</h1>
        </div>
        <div class="fc-mb-16 fc-fs-16 fc-ta-l">
            <p>
                Lets make this Christmas special. 
            </p>
            <p>
              Get the all new 8 Filo Tag pack with a massive 35% discount + a&nbsp;<b>25€ Amazon Gift Card</b>. 
            <br/>
              Our Exclusive Christmas 8 Filo Tag pack includes: 4 red and 4 cyan Filo Tags + a €25 Amazon Gift Card*.
            <br/>
              Make Sure to order yours today, as the offer lasts until the 17th of December.
            </p>
            <p>
              <span class="fc-fs-16">
                * You will receive your Amazon Gift Card by email within 7 days from your order.<br/>
                You will receive the Filo Tags in 3-4 business days. 
              </span>
            </p>
        </div>
        
      </div>
      {% assign featured_image = selectedVariant.featured_image | default: product.featured_image %}
      <div id="fc-slider-product" class="fc-wo-container product-slideshow clearfix" style="opacity: 0;">
        <div class="fc-wo-2 product-image-container clearfix">
          <div class="product-big-image" data-no-image-svg="{{ 'no-image.svg' | asset_url }}" data-no-image-png="{{ 'no-image.png' | asset_url }}">
            <span class="product-slideshow-loader"></span>
                        
            {% if product.images.size > 1 %}
              <img
                 src="{{ product.images[0] | product_img_url: '600x600' }}"
                 alt="{{ product.title | escape }}"
                 style="width:100%;"
                 {% comment %} data-high-res="{{ image | product_img_url: '2048x2048' }}" {% endcomment %}
                     >
            {% elsif product.images.size > 0 %}
                  <img
                    src="{{ featured_image | product_img_url: '600x600' }}"
                    alt="{{ product.title | escape }}"
                    data-high-res="{{ featured_image | product_img_url: '2048x2048' }}"
                    >
            {% else %}
              <img
                class="product-no-images"
                src="{{ 'no-image.svg' | asset_url }}"
                onerror="this.src='{{'no-image.png' | asset_url}}'; this.onerror=null;"
                style="min-height:320px;"/>
            {% endif %}
            {% if section.settings.enable_zoom %}
              <div class="product-image-zoom"></div>
            {% endif %}
          </div>

          {% if product.images.size > 1 %}
            <a class="product-slideshow-navigation product-slideshow-previous icon icon-arrow-left" href="#" tabindex="0">
            </a>
            <a class="product-slideshow-navigation product-slideshow-next icon icon-arrow-right" href="#" tabindex="0">
            </a>
          {% endif %}
        </div>
        {% if product.images.size > 1 %}
          <div class="fc-wo-1 product-slideshow-pagination product-thumbnails">
            {% assign counter_ = 0 %}
            {% for image in product.images %}
                  {% assign display_ = "" %}
                  {% assign counter_ = counter_ | plus: 1 %}
            
                  {% comment %}                  
                    il primo thumbnail non deve avere il margin left
                  {% endcomment %}
            
                  {% if counter_ == 1 %}
                      {% assign margin_ = " margin-left:0;" %}
                  {% else %}
                      {% assign margin_ = " margin-left:2.5%;" %}
                  {% endif %} 
                <a
                  class="product-slideshow-pagination-item {% if counter_ == 1 %}active{% endif %} fc_thumbnail_{{ counter_ }}"
                  style="background-image:url('{{ image | product_img_url: '600x600' }}'); width:18%; {{ margin_ }} padding-top: 18%; border: 1px solid #bbb; {{ display_ }}"
                  data-alt="{{ image.alt }}"
                  data-default-res="{{ image | product_img_url: '600x600' }}"
                  {% comment %} data-high-res="{{ image | product_img_url: '2048x2048' }}" {% endcomment %}
                  data-image-id="{{ image.id }}"
                  href="#"
                  tabindex="0"></a>
            {% endfor %}
          </div>
        {% endif %}
      </div><!--
      --><div class="product-wrap">
        <div class="product-details">
          <div class="product-title">
            <h1 itemprop="name">{{ product.title }}</h1>
          </div>
          <div class="fc-mv-16 fc-fs-24">
            <p>
                Lets make this Christmas special. 
            </p>
            <p>
              Get the all new 8 Filo Tag pack with a massive 35% discount + a&nbsp;<b>25€ Amazon Gift Card</b>. 
            <br/>
              Our Exclusive Christmas 8 Filo Tag pack includes: 4 red and 4 cyan Filo Tags + a €25 Amazon Gift Card*.
            <br/>
              Make Sure to order yours today, as the offer lasts until the 17th of December.
            </p>
            <p>
              <span class="fc-fs-16">
                * You will receive your Amazon Gift Card by email within 7 days from your order.<br/>
                You will receive the Filo Tags in 3-4 business days. 
              </span>
            </p>
          </div>
          {% if is_use_case_page == true %}
          <div class="fc-mb-32" style="border-bottom: 1px rgba(0,0,0,.3) solid;">
            <a href="javascript:fc_show_specifications()" class="fc-black fc-emph2 fc-fs-24">> Specifications</a>
            <div class="fc_specifications">
              <div>
                <p class="fc-emph1 fc-mt-8">features</p>
                <ul class="fc-m-0 fc-pl-24" style="list-style: disc;">
                  <li>Ring Filo from your phone</li>
                  <li>Ring your phone with Filo</li>
                  <li>See it on a map</li>
                  <li>Set “comfort zone” with quick notification if separated from track item.</li>
                </ul>

                <p class="fc-emph1 fc-mt-8">size</p>
                <span>25 mm x 41 mm x 5 mm  (0.98 in  x 1.61 in x 0.19 in)</span>

                <p class="fc-emph1 fc-mt-8">range</p>
                <span>Up to 80m - line of sight</span>

                <p class="fc-emph1 fc-mt-8">battery</p>
                <span>1-year Replaceable battery</span>

                <p class="fc-emph1 fc-mt-8">compatibility</p>
                <span>Compatible with iOS 9 and later, and devices running Android 4.4 and later.
                <a class="fc-black" style="text-decoration: underline;" href="https://www.filotrack.com/pages/devices">See full list of officially supported devices.</a></span>
                <div class="fc-pv-8 fc-ta-r">
                  <a href="javascript:fc_show_specifications()" style="width: 100%;" class="fc-ta-r">
                  {%
                    include "font-icon",
                    icon: "close",
                    class: "fc-filo fc-fs-24",
                    title: "close"
                  %}
                  </a>
                </div>
              </div>
            </div>
          </div>
          <script>
            function fc_show_specifications() {
              console.log("test show")
              $(".fc_specifications").toggleClass("fc-show-spec")
            }
          </script>
        {% endif %}
          
          
         {% comment %}
         
          <div class="fc-quantity-option fc-selected" fc-data-val="4x Filo" style="border: 1px solid #eee; background-color: #00C956; padding: 4px;">
            <div class="fc-quantity-option-inner fc-bg-white fc-ph-16 fc-pv-8">
              <div class="fc-fs-24">
                <span><span class="fc-pack-num fc-emph2">4</span> x <span class="fc-product-name">Filo</span></span>
                <span style="float: right;" class="fc-price fc-emph2">€119.60</span>
              </div>
              <div>
                <span class="fc-emph3 fc-fs-16">in 4 single packs</span>
                <!--<br>
                <span class="fc-emph3 fc-fs-16">guaranteed Christmas delivery</span>-->
              </div>
            </div>
          </div>

          <!--<div class="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <span class="price" itemprop="price">
              <span class="money">{{ selectedVariant.price | money }}</span>
              {% unless product.variants.size == 1 and product.compare_at_price_min <= selectedVariant.price %}
                <span class="product-price-compare {% if product.compare_at_price_min <= selectedVariant.price %}hidden{% endif %}">
                  <span class="original money">
                    {% if selectedVariant.compare_at_price > selectedVariant.price %}
                      {{ selectedVariant.compare_at_price | money }}
                    {% endif %}
                  </span>
                  <span class="saving">
                    {% if selectedVariant.compare_at_price > selectedVariant.price %}
                      <span> {{ "products.product.saving" | t }} </span>
                      <span class="saving-result money">{{ selectedVariant.compare_at_price | minus: selectedVariant.price | money }}</span>
                    {% endif %}
                  </span>
                </span>
              {% endunless %}
            </span>
          </div>-->
          {% endcomment %}
    
          {% if settings.product-display-vendor %}
            <div class="product-vendor" itemprop="brand">
              {{ product.vendor }}
            </div>
          {% endif %}
        </div>
        {% if settings.product-sale-goal-use and product.handle == settings.featured-product-main %}
          <div class="product-goal">
            {% include "product-goal" %}
          </div>
        {% endif %}
        <form
          class="product-form"
          id="product-form-{{ form_id }}"
          action="/cart/add"
          method="post"
          data-product-form="{{ form_id }}">
          <div class="clearfix product-form-nav">
            {% if product.variants.size > 1 %}
              <div class="product-options fc-filotag">
                {% include 'product-options-dropdown' %}

                <div class="selector-wrapper no-js-required">
                  <select
                    class="product-select"
                    name="id"
                    id="product-select-{{ form_id }}">
                    {% for variant in product.variants %}
                      {%- capture option_content -%}
                        {%- if variant.available -%}
                          {{ variant.title }} - {{ variant.price | money }}
                        {%- else -%}
                          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                        {%- endif -%}
                      {%- endcapture -%}
                      <option
                        {% if variant.id == selected_variant.id %}selected="selected"{% endif %}
                        data-variant-id="{{ variant.id }}"
                        {% if variant.available %}
                          data-sku="{{ variant.sku }}"
                          value="{{ variant.id }}"
                        {% else %}
                          disabled="disabled"
                        {% endif %}>
                        {{ option_content | strip_newlines }}
                        fct
                      </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            {% else %}
              <input
                class="product-select"
                name="id"
                value="{{ product.variants[0].id }}"
                type="hidden"
                data-variant-title="{{ product.variants[0].title }}" />
            {% endif %}

            <div id="infiniteoptions-container"></div>
            <div id="uploadery-container"></div>

            <div class="number-input-wrapper product-quantity clearfix">
              <div class="number-input-field">
                <input type="number" name="quantity" id="quantity" value="1" aria-label="{{ "general.general.quantity" | t }}" />
                <label class="number-input-label" for="quantity">{{ 'general.general.quantity' | t }}</label>
              </div>
              <div class="number-input-nav">
                <div class="number-input-nav-item icon icon-plus"></div>
                <div class="number-input-nav-item icon icon-minus"></div>
              </div>
            </div>
          </div>

          <div class="fc-button-and-feature-list-container">
            <div class="add-to-cart fc-add-to-cart">
              {% if product.available %}
                <div class="product-form-submit-wrap">
                  <input class="button outline add-to-cart-button fc-white fc-bg-green" type="submit" value="{{ add_to_cart_button | strip_newlines | strip_html | strip }}" />
                  <div class="add-to-cart-loader"></div>
                </div>
                <div class="product-cart-message" data-product-message></div>
              {% else %}
                <input type="submit" class="button outline disabled" disabled="disabled" value="{{ 'products.product.sold_out' | t }}" />
              {% endif %}
            </div>

            {% if is_use_case_page == true %}
            {% else %}
              <div class="fc-emph3 fc-product-feature-list">
                <div  class="fc-product-feature fc-pf-left">
                  <div>
                    <i class="product-specification-list-item-icon ion-checkmark" aria-hidden="true" title="Free Shipping"></i>
                  </div>
                  <div>
                    <span class="fc-product-features-text fc-product-features-strong">free shipping in Italy</span>
                    {% comment %}<!--<br>
                    <span class="fc-product-features-text">
                      in 3 business days</span>-->{% endcomment %}
                  </div>
                </div>
                <div  class="fc-product-feature fc-pf-center">
                  <div>
                    <i class="product-specification-list-item-icon ion-checkmark" aria-hidden="true" title="Free Shipping"></i>
                  </div>
                  <div class="fc-product-features-line">
                    <span class="fc-product-features-text">2-years warranty</span>
                  </div>
                </div>
                <div  class="fc-product-feature fc-pf-right">
                  <div>
                    <i class="product-specification-list-item-icon ion-checkmark" aria-hidden="true" title="Free Shipping"></i>
                  </div>
                  <div class="fc-product-features-line">
                    <span class="fc-product-features-text">14 days gurantee</span>
                  </div>
                </div>
              </div>
            {% endif %}
          
          </div>

          {% if settings.product_sale_goal_estimated_delivery_date != blank and showDeliveryEstimate %}
            <span class="product-featured-goal-delivery-date">
              {{ productGoalDeliveryDate }}
            </span>
          {% endif %}
        </form>

        {% if section.settings.additional_info_text_1 != blank or section.settings.additional_info_text_2 != blank %}
          <div class="product-more-info">
            {% if section.settings.additional_info_text_1 != blank %}
              <p class="product-info-link {{ section.settings.additional_info_icon_1 }}">
                {% if section.settings.additional_info_url_1 != blank %}
                  <a href="{{ section.settings.additional_info_url_1 }}">
                {% endif %}

                <span>
                  {{ section.settings.additional_info_text_1 | escape }}
                </span>

                {% if section.settings.additional_info_url_1 != blank %}
                  </a>
                {% endif %}
              </p>
            {% endif %}
            {% if section.settings.additional_info_text_2 != blank %}
              <p class="product-info-link {{ section.settings.additional_info_icon_2 }}">
                {% if section.settings.additional_info_url_2 != blank  %}
                  <a href="{{ section.settings.additional_info_url_2 }}">
                {% endif %}

                <span>
                  {{ section.settings.additional_info_text_2 | escape }}
                </span>

                {% if section.settings.additional_info_url_2 != blank  %}
                  </a>
                {% endif %}
              </p>
            {% endif %}
          </div>
        {% endif %}

        {% comment %}
        {% if product.description.size > 0 %}
          <div class="product-tabs">
            <div class="product-tabs-header">
              <div class="product-tabs-header-item active" data-tab="product-tab-description">
                {{ "products.product.description" | t }}
              </div>
            </div>
            <div class="product-tabs-body">
              <div class="product-tabs-body-item rte active" id="product-tab-description" itemprop="description">
                {{ product.description }}
              </div>
            </div>
          </div>
        {% endif %}
        {% endcomment %}
      </div>
    </div>
  </div>
</div>

{% if section.settings.enable-share-buttons %}
  <div class="module-wrapper">
    <div class="module module-share">
      <div class="module-body clearfix">
        {%
          include 'share-buttons',
          item: product,
          is_product: true
        %}
      </div>
    </div>
  </div>
{% endif %}

{%- capture cart_link -%}
  <a href="/cart">{{ 'products.product.cart_link' | t }}</a>
{%- endcapture -%}
{%- capture continue_link -%}
  <a href="/collections/all">{{ 'products.product.continue_link' | t }}</a>
{%- endcapture -%}
{%- capture checkout_link -%}
  <a href="/checkout">{{ 'products.product.checkout_link' | t }}</a>
{%- endcapture -%}

<script type="application/json" data-product-settings-{{ form_id }}>
  {
    "addToCartText": {{ add_to_cart_button | strip_newlines | strip_html | strip | json }},
    "disableAjaxAddProduct": {{ section.settings.disable_ajax_add_product }},
    "enableHistory": true,
    "imageZoom": false {% comment %}{{ section.settings.enable_zoom }}{% endcomment %},
    "linkedOptions": true,
    "processingText": {{ 'products.product.processing' | t | json }},
    "setQuantityText": {{ 'products.product.set_quantity' | t | json }},
    "soldOutText": {{ 'products.product.sold_out' | t | json }},
    "successMessage": {{ 'products.product.success_html' | t: cart_link: cart_link, continue_link: continue_link, checkout_link: checkout_link | json }},
    "unavailableText": {{ 'products.product.unavailable' | t | json }}
  } 
</script>

<script type="application/json" data-product-json-{{ form_id }}>{{ product | json }}</script>
{% schema %}
{
  "name": "Product pages",
  "class": "section-product",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_zoom",
      "label": "Enable image zoom",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_ajax_add_product",
      "label": "Enable cart redirection",
      "info": "Automatically sends users to the Cart page after adding a product.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable-share-buttons",
      "label": "Show share buttons",
      "default": false
    },
    {
      "type": "header",
      "content": "Additional info links"
    },
    {
      "type": "paragraph",
      "content": "[Additional Info Links](https:\/\/s3.amazonaws.com\/cdn.pixelunion.net\/startup\/additional-info-screenshot.png) appear wherever a customer can view product information. They’re perfect for linking to size charts, refund policies, or ordering details. Pick from six unique icons."
    },
    {
      "type": "text",
      "id": "additional_info_text_1",
      "label": "Text"
    },
    {
      "type": "url",
      "id": "additional_info_url_1",
      "label": "Link"
    },
    {
      "type": "select",
      "id": "additional_info_icon_1",
      "label": "Icon",
      "options": [
        {
          "value": "info",
          "label": "Information (i)"
        },
        {
          "value": "question-mark",
          "label": "Question mark"
        },
        {
          "value": "ruler",
          "label": "Ruler"
        },
        {
          "value": "envelope",
          "label": "Envelope"
        },
        {
          "value": "pencil",
          "label": "Pencil"
        },
        {
          "value": "shirt",
          "label": "Shirt"
        }
      ]
    },
    {
      "type": "text",
      "id": "additional_info_text_2",
      "label": "Text"
    },
    {
      "type": "url",
      "id": "additional_info_url_2",
      "label": "Link"
    },
    {
      "type": "select",
      "id": "additional_info_icon_2",
      "label": "Icon",
      "options": [
        {
          "value": "info",
          "label": "Information (i)"
        },
        {
          "value": "question-mark",
          "label": "Question mark"
        },
        {
          "value": "ruler",
          "label": "Ruler"
        },
        {
          "value": "envelope",
          "label": "Envelope"
        },
        {
          "value": "pencil",
          "label": "Pencil"
        },
        {
          "value": "shirt",
          "label": "Shirt"
        }
      ]
    }
  ]
}
{% endschema %}